body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;

}

header{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 20px;
    margin-right: 20px;
}

.purple {
    color :#5E3AEE;   
}

header .purple {
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

#firstbloc {
    margin-left: 33px;
    margin-right: 33px;
    background-color:#F0F0F5;
    margin-bottom: 45px;
}

main h1{
    text-align: center;
    font-size: 24px;
    padding-top: 34px;
    padding-bottom: 0px;
    margin:0 auto;
}

main h2 {
    color:#696969;
    text-align: center;
    font-size: 14px;
    padding-top: 0px;
    margin : 0 auto;

}


main p {
    text-align: center;
    font-size: 10px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}

.button {
    width: 131px;
    height: 32px;   
    margin-right: 89px;
    margin-left: 89px;
    margin-top :10px;
    box-shadow: -4px 4px 4px grey;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Poppins' , sans-serif;
}

#button_contact {
   background-color: white; 
   border: none;
   box-shadow: 25px red;
}

#button_projects {
    background-color: #5E3AEE; 
    border: none;
    color: white;
}

.images {
    display: block;
    width: 209px;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
}

.numbers_lines {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left : 10px;
    padding-top: 15px;
    border-top: 3px solid #F0F0F5;
}

.numbers {
    font-size: 26px;
    font-weight: 700;
}

.numbers_description {
    font-size: 8px;
    color : #BFB8B8;
    font-weight: normal;
}

#second_line {
    border-bottom: 3px solid #F0F0F5;
    margin-bottom: 50px;
}

.aboutme {
    background-color: #0F1221;
    color:white;
    padding-left: 10px;
    padding-top: 50px;
}

.aboutme #rectanglepurple {
       /* Rectangle purple */
    display:block;
    margin : 0 auto;
    width: 205px;
    height: 27px;
    background: #5E3AEE;
}

.aboutme h1 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 25px;
}

.aboutme p {
    text-align : center;
    font-size: 18px;
}

.aboutme #git {
    font-weight: 700;
}

.aboutme #smartphone {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.skills {
    margin-bottom: 60px;
}

.skills h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.skills p {
    font-size: 24px;
    font-weight: 400;
}

.contact {
    display: block;
    color : white;
    background-color: #5E3AEE;
    width: 375px;
    height: 576px;
    text-align: center;
}

.contact h1 {
    color:white;
    font-weight: 600;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 33px;
    font-weight: 800;
}

footer {
    color: #696969;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

form label {
    font-size: 12px;
    text-align: left;
}

#text {
    width: 238px;
    height: 89.73px;
    margin-bottom: 15px;
}

#submit {
    background-color: white;
    font-size: 12px;
    font-weight: 600;
    width: 238px;
    height: 34.05px;
}

#name, #mail {
    width: 238px;
    height: 34.05px;
}